### Session set up

Import required modules

In [1]:
import pandas as pd
import re

### Read in and format data

Read in data from [Brisbane City Council](https://www.brisbane.qld.gov.au/clean-and-green/rubbish-tips-and-bins/rubbish-collections/kerbside-large-item-collection-service) (kerbside collection 2022-23, data scraped from website), [QGSO](https://www.qgso.qld.gov.au/geographies-maps/concordances/place-names-concordance) (Place Names Concordance 2020, used under CC-BY), and [ABS](https://www.abs.gov.au/AUSSTATS/abs@.nsf/Lookup/2033.0.55.001Main+Features12016?OpenDocument) (SEIFA SA2 Indexes, used under CC-BY). Note SEIFA from 2021 census not yet released. Index of Relative Socio-economic Advantage and Disadvantage used as interested in areas that have high access to material and social resources.

In [2]:
kerbside = pd.read_csv("../data/kerbside collection 2022-23.csv", usecols=["Suburbs", "Collection_Date"])
place_concord = pd.read_excel("../data/Place Names Concordance 2020.xlsx", sheet_name = "2020")
seifa_16 = pd.read_excel("../data/2033055001 - sa2 indexes.xls", sheet_name = "Table 3", skiprows = 4)

Check data read in as expected

In [3]:
kerbside.head()

        Suburbs Collection_Date
0  Acacia Ridge       29-Aug-22
1      Algester       11-Jul-22
2     Calamvale       11-Jul-22
3     Parkinson       11-Jul-22
4  Auchenflower       18-Jul-22

In [4]:
place_concord.head()

,Place name (2020),Alternative place name (2020),Place type (2020),Place name longitude (GDA94),Place name latitude (GDA94),Suburb (2020),Postcode (2019),LGA code (2020),LGA name (2020),SA1 code (2016),...,SA2 name (2011),SA3 code (2011),SA3 name (2011),SA4 code (2011),SA4 name (2011),GCCSA code (2011),GCCSA name (2011),SED name (2017),SED name (2008),CED name (2019)
0,A Creek,NaN,STRM,151.200000,-25.500000,Coonambula,4626,35760,North Burnett (R),31902150304,...,Gayndah - Mundubbera,31902,Burnett,319,Wide Bay,3RQLD,Rest of Qld,Callide,Callide,Flynn
1,A Creek,NaN,STRM,151.584442,-24.648333,Gindoran,4676,33360,Gladstone (R),30805153006,...,Agnes Water - Miriam Vale,30802,Gladstone - Biloela,308,Fitzroy,3RQLD,Rest of Qld,Burnett,Burnett,Flynn
2,A Flat Creek,NaN,STRM,152.317146,-26.374427,Manumbar,4601,33620,Gympie (R),31903151506,...,Kilkivan,31903,Gympie - Cooloola,319,Wide Bay,3RQLD,Rest of Qld,Nanango,Callide,Wide Bay
3,A W Creek,NaN,STRM,142.949720,-13.003610,Lockhart River,4892,34570,Lockhart River (S),31501139615,...,Cape York,31501,Far North,315,Queensland - Outback,3RQLD,Rest of Qld,Cook,Cook,Leichhardt
4,Aarons Folly Gully,NaN,STRM,148.666670,-21.800000,Strathfield,4742,33980,Isaac (R),31201133807,...,Broadsound - Nebo,31201,Bowen Basin - North,312,Mackay,3RQLD,Rest of Qld,Burdekin,Mirani,Capricornia

Update names that will be on output

In [5]:
place_concord.rename(columns={"Place name (2020)": "Suburbs"
                             , "SA2 code (2016)": "sa2_16_code"}
                    , inplace=True)

In [6]:
seifa_16.head()

,2016 Statistical Area Level 2 (SA2) 9-Digit Code,2016 Statistical Area Level 2 (SA2) Name,Usual Resident Population,Unnamed: 3,Unnamed: 4,Ranking within Australia,Unnamed: 6,Unnamed: 7,Unnamed: 8,Ranking within State or Territory,Unnamed: 10,Unnamed: 11,Unnamed: 12,Minimum score for SA1s in area,Maximum score for SA1s in area,% Usual Resident Population without an SA1 level score
0,NaN,NaN,NaN,Score,NaN,Rank,Decile,Percentile,NaN,State,Rank,Decile,Percentile,NaN,NaN,NaN
1,101021007,Braidwood,3872.0,997,NaN,1092,5,50,NaN,NSW,295,6,53,936.0,1063.0,0.000000
2,101021008,Karabar,8247.0,985,NaN,979,5,45,NaN,NSW,264,5,48,710.0,1125.0,0.000000
3,101021009,Queanbeyan,10842.0,982,NaN,943,5,44,NaN,NSW,258,5,47,858.0,1077.0,0.001568
4,101021010,Queanbeyan - East,4786.0,1013,NaN,1246,6,58,NaN,NSW,325,6,59,926.0,1163.0,0.005224

Make required updates to data for easier referencing. Will only rename columns to be kept in code.

In [7]:
seifa_16.dropna(1, "all", inplace=True)
seifa_16.rename(
    columns={"2016 Statistical Area Level 2  (SA2) 9-Digit Code": "sa2_16_code"
            , "2016 Statistical Area Level 2 (SA2) Name ": "sa2_16_name"
            , "Ranking within State or Territory": "state"
            , "Unnamed: 10": "state_rank"
            , "Unnamed: 11": "state_decile"
            , "Unnamed: 12": "state_percentile"
            , "Minimum score for SA1s in area": "min_sa1_score"
            , "Maximum score for SA1s in area": "max_sa1_score"}
    , inplace=True
)

Confirm through visual inspection that the desired columns and names have been updated.

In [8]:
seifa_16.tail()

,sa2_16_code,sa2_16_name,Usual Resident Population,Unnamed: 3,Ranking within Australia,Unnamed: 6,Unnamed: 7,state,state_rank,state_decile,state_percentile,min_sa1_score,max_sa1_score,% Usual Resident Population without an SA1 level score
2182,901021002,Cocos (Keeling) Islands,544.0,890,194,1,9,OT,NaN,NaN,NaN,830.0,1061.0,0.000000
2183,901031003,Jervis Bay,391.0,863,97,1,5,OT,NaN,NaN,NaN,709.0,1019.0,0.023018
2184,901041004,Norfolk Island,1748.0,975,877,5,41,OT,NaN,NaN,NaN,927.0,1020.0,0.000000
2185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2186,Â© Commonwealth of Australia 2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Reduce SEIFA information to just QLD for more reliable matching as there are duplicate localities within and outside QLD. Also confirm that data filtered correctly by checking that the first digit of SA2 is 3 (ABS state code for QLD).

In [9]:
seifa_16 = seifa_16[seifa_16["state"] == "QLD"]
all((seifa_16["sa2_16_code"] >= 300000000) & (seifa_16["sa2_16_code"] < 400000000))

True

Reduce place name concordance to just Brisbane localities. The SA2 code on the file is tied to the place name column. Place name will be used to add on the SA2 code for the scraped Kerbside list.

In [10]:
place_concord = place_concord[place_concord["LGA code (2020)"] == 31000]

### Clean data

Identify if there are any localities that don't share the same name. Want to match kerbside suburbs against the SEIFA deciles based on locality name.

In [11]:
locality_check = kerbside["Suburbs"].isin(place_concord["Suburbs"])
kerbside[~locality_check]

              Suburbs Collection_Date
10             Chuwar       25-Jul-22
15          Mt Crosby       25-Jul-22
29         Mt Ommaney       15-Aug-22
44          Macgregor       29-Aug-22
70             Albion       24-Oct-22
77              Ascot       31-Oct-22
108           The Gap       23-Jan-23
121          Red Hill       13-Feb-23
149          West End       17-Apr-23
169        Mt Gravatt       29-May-23
170   Mt Gravatt East       29-May-23
171  Upper Mt Gravatt       29-May-23
174         Mackenzie        5-Jun-23

Identify why these names don't match to the list of Kerbside collection suburbs

In [12]:
missing_localities = place_concord["Suburbs"].str.contains("chuwar|crosby|ommaney|macgregor|albion|ascot|gap|red hill|west end|gravatt|mackenzie", flags=re.IGNORECASE)
place_concord[missing_localities]

,Suburbs,Alternative place name (2020),Place type (2020),Place name longitude (GDA94),Place name latitude (GDA94),Suburb (2020),Postcode (2019),LGA code (2020),LGA name (2020),SA1 code (2016),...,SA2 name (2011),SA3 code (2011),SA3 name (2011),SA4 code (2011),SA4 name (2011),GCCSA code (2011),GCCSA name (2011),SED name (2017),SED name (2008),CED name (2019)
212,Albion (Brisbane City),NaN,SUB,153.044170,-27.433610,Albion,4010,31000,Brisbane (C),30503111913,...,Albion,30503,Brisbane Inner - North,305,Brisbane Inner City,3GBRI,Greater Brisbane,Clayfield,Clayfield,Brisbane
790,Ascot (Brisbane City),NaN,SUB,153.063890,-27.429720,Ascot,4007,31000,Brisbane (C),30503112112,...,Ascot,30503,Brisbane Inner - North,305,Brisbane Inner City,3GBRI,Greater Brisbane,Clayfield,Clayfield,Brisbane
6664,Chuwar (Brisbane City),NaN,LOCB,152.772766,-27.549166,Chuwar,4306,31000,Brisbane (C),31003128811,...,Ipswich - North,31003,Ipswich Inner,310,Ipswich,3GBRI,Greater Brisbane,Ipswich West,Ipswich West,Blair
12278,Gap Creek,NaN,STRM,152.915584,-27.497826,Brookfield,4069,31000,Brisbane (C),30402108714,...,Brookfield - Kenmore Hills,30402,Kenmore - Brookfield - Moggill,304,Brisbane - West,3GBRI,Greater Brisbane,Moggill,Moggill,Ryan
18754,MacGregor,NaN,SUB,153.075830,-27.565000,MacGregor,4109,31000,Brisbane (C),30303106110,...,Macgregor (Qld),30303,Mt Gravatt,303,Brisbane - South,3GBRI,Greater Brisbane,Toohey,Sunnybank,Moreton
18785,Mackenzie (Brisbane City),NaN,SUB,153.130280,-27.535830,Mackenzie,4156,31000,Brisbane (C),30303106401,...,Rochedale - Burbank,30303,Mt Gravatt,303,Brisbane - South,3GBRI,Greater Brisbane,Mansfield,Mansfield,Bonner
21390,Mount Crosby,NaN,LOCB,152.811951,-27.523056,Mount Crosby,4306,31000,Brisbane (C),31003129010,...,Karana Downs,31003,Ipswich Inner,310,Ipswich,3GBRI,Greater Brisbane,Moggill,Moggill,Blair
21391,Mount Crosby,Mount Belle Vue,MT,152.799053,-27.528131,Mount Crosby,4306,31000,Brisbane (C),31003129010,...,Karana Downs,31003,Ipswich Inner,310,Ipswich,3GBRI,Greater Brisbane,Moggill,Moggill,Blair
21674,Mount Gravatt,NaN,HILL,153.072780,-27.542780,Mount Gravatt,4122,31000,Brisbane (C),30303106324,...,Mount Gravatt,30303,Mt Gravatt,303,Brisbane - South,3GBRI,Greater Brisbane,Mansfield,Mansfield,Bonner
21675,Mount Gravatt,NaN,SUB,153.072220,-27.540280,Mount Gravatt,4122,31000,Brisbane (C),30303106324,...,Mount Gravatt,30303,Mt Gravatt,303,Brisbane - South,3GBRI,Greater Brisbane,Mansfield,Mansfield,Bonner
21676,Mount Gravatt East,NaN,SUB,153.085560,-27.530280,Mount Gravatt East,4122,31000,Brisbane (C),30303106314,...,Mount Gravatt,30303,Mt Gravatt,303,Brisbane - South,3GBRI,Greater Brisbane,Mansfield,Greenslopes,Bonner
22270,Mount Ommaney,NaN,MT,152.928889,-27.544444,Mount Ommaney,4074,31000,Brisbane (C),30401108107,...,Jindalee - Mount Ommaney,30401,Centenary,304,Brisbane - West,3GBRI,Greater Brisbane,Mount Ommaney,Mount Ommaney,Oxley
22271,Mount Ommaney,NaN,SUB,152.931351,-27.545348,Mount Ommaney,4074,31000,Brisbane (C),30401108107,...,Jindalee - Mount Ommaney,30401,Centenary,304,Brisbane - West,3GBRI,Greater Brisbane,Mount Ommaney,Mount Ommaney,Oxley
22272,Mount Ommaney Creek,NaN,STRM,152.925526,-27.542010,Westlake,4074,31000,Brisbane (C),30401108508,...,Westlake,30401,Centenary,304,Brisbane - West,3GBRI,Greater Brisbane,Mount Ommaney,Mount Ommaney,Oxley
22273,Mount Ommaney Reach,NaN,RCH,152.926670,-27.537500,Pinjarra Hills,4069,31000,Brisbane (C),30402109104,...,Pinjarra Hills - Pullenvale,30402,Kenmore - Brookfield - Moggill,304,Brisbane - West,3GBRI,Greater Brisbane,Moggill,Moggill,Ryan
27381,Red Hill (Brisbane City),NaN,SUB,153.003890,-27.451110,Red Hill,4059,31000,Brisbane (C),30504113609,...,Red Hill (Qld),30504,Brisbane Inner - West,305,Brisbane Inner City,3GBRI,Greater Brisbane,Cooper,Mount Coot-Tha,Brisbane
32773,The Gap (Brisbane City),NaN,SUB,152.944440,-27.441670,The Gap,4061,31000,Brisbane (C),30404110309,...,The Gap,30404,The Gap - Enoggera,304,Brisbane - West,3GBRI,Greater Brisbane,Cooper,Ashgrove,Ryan
34539,Upper Mount Gravatt,NaN,SUB,153.079720,-27.555280,Upper Mount Gravatt,4122,31000,Brisbane (C),30303106516,...,Upper Mount Gravatt,30303,Mt Gravatt,303,Brisbane - South,3GBRI,Greater Brisbane,Mansfield,Mansfield,Bonner
35636,West End (Brisbane City),NaN,SUB,153.006670,-27.483060,West End,4101,31000,Brisbane (C),30501111208,...,West End,30501,Brisbane Inner,305,Brisbane Inner City,3GBRI,Greater Brisbane,South Brisbane,South Brisbane,Griffith

Remove text in brackets and contract "Mount" to "Mt" so the place names match to the Kerbside localities.
MacGregor will need to be updated to all lower case.

In [13]:
place_concord["Suburbs"] = place_concord["Suburbs"].str.replace("\\(.+\\)", "", regex=True)
place_concord["Suburbs"] = place_concord["Suburbs"].str.replace(r"\bMount\b", "Mt", regex=True)
place_concord.loc[place_concord["Suburbs"] == "MacGregor", "Suburbs"] = "Macgregor"
place_concord["Suburbs"] = place_concord["Suburbs"].str.strip()

Repeat check to confirm that place names were updated correctly

In [14]:
locality_check = kerbside["Suburbs"].isin(place_concord["Suburbs"])
kerbside[~locality_check]

Empty DataFrame
Columns: [Suburbs, Collection_Date]
Index: []

Combine kerbside locality information with place concordance locality information to get the SA2 code for each area. SA2 code required for SEIFA decile. Left join used as all suburbs in the kerbside list should be kept for completion.

In [15]:
kerbside_sa2 = kerbside.merge(place_concord, on="Suburbs", how="left")

Confirm that merge was successful

In [16]:
print(kerbside_sa2.head(10))
print(kerbside_sa2.dtypes)
print(kerbside_sa2.shape)

        Suburbs Collection_Date Alternative place name (2020)  \
0  Acacia Ridge       29-Aug-22                           NaN
1      Algester       11-Jul-22                           NaN
2     Calamvale       11-Jul-22                           NaN
3     Parkinson       11-Jul-22                           NaN
4  Auchenflower       18-Jul-22                           NaN
5        Milton       18-Jul-22                           NaN
6      St Lucia       18-Jul-22                           NaN
7       Taringa       18-Jul-22                           NaN
8       Anstead       25-Jul-22                           NaN
9    Bellbowrie       25-Jul-22                           NaN

  Place type (2020)  Place name longitude (GDA94)  \
0               SUB                    153.026108
1               SUB                    153.033610
2               SUB                    153.048060
3               SUB                    153.029170
4               SUB                    152.993890
5               SUB                    153.006670
6               SUB                    153.009445
7               SUB                    152.984440
8               SUB                    152.862228
9               SUB                    152.882463

   Place name latitude (GDA94) Suburb (2020)  Postcode (2019)  \
0                   -27.585835  Acacia Ridge             4110
1                   -27.612500      Algester             4115
2                   -27.623330     Calamvale             4116
3                   -27.643610     Parkinson             4115
4                   -27.473330  Auchenflower             4066
5                   -27.467780        Milton             4064
6                   -27.498333      St Lucia             4072
7                   -27.492780       Taringa             4068
8                   -27.541111       Anstead             4070
9                   -27.558959    Bellbowrie             4070

   LGA code (2020) LGA name (2020)  ...              SA2 name (2011)  \
0            31000    Brisbane (C)  ...       Rocklea - Acacia Ridge
1            31000    Brisbane (C)  ...                     Algester
2            31000    Brisbane (C)  ...         Calamvale - Stretton
3            31000    Brisbane (C)  ...         Parkinson - Drewvale
4            31000    Brisbane (C)  ...                 Auchenflower
5            31000    Brisbane (C)  ...          Paddington - Milton
6            31000    Brisbane (C)  ...                     St Lucia
7            31000    Brisbane (C)  ...                      Taringa
8            31000    Brisbane (C)  ...  Pinjarra Hills - Pullenvale
9            31000    Brisbane (C)  ...         Bellbowrie - Moggill

   SA3 code (2011)                 SA3 name (2011)  SA4 code (2011)  \
0            30305          Rocklea - Acacia Ridge              303
1            30305          Rocklea - Acacia Ridge              303
2            30305          Rocklea - Acacia Ridge              303
3            30305          Rocklea - Acacia Ridge              303
4            30504           Brisbane Inner - West              305
5            30504           Brisbane Inner - West              305
6            30403        Sherwood - Indooroopilly              304
7            30403        Sherwood - Indooroopilly              304
8            30402  Kenmore - Brookfield - Moggill              304
9            30402  Kenmore - Brookfield - Moggill              304

       SA4 name (2011)  GCCSA code (2011) GCCSA name (2011) SED name (2017)  \
0     Brisbane - South              3GBRI  Greater Brisbane        Algester
1     Brisbane - South              3GBRI  Greater Brisbane        Algester
2     Brisbane - South              3GBRI  Greater Brisbane        Algester
3     Brisbane - South              3GBRI  Greater Brisbane        Algester
4  Brisbane Inner City              3GBRI  Greater Brisbane          Maiwar
5  Brisbane Inner City              3GBRI  Greater Brisbane          Cooper
6      Brisbane - West              3GBRI  Greater Brisbane          Maiwar
7      Brisbane - West              3GBRI  Greater Brisbane          Maiwar
8      Brisbane - West              3GBRI  Greater Brisbane         Moggill
9      Brisbane - West              3GBRI  Greater Brisbane         Moggill

  SED name (2008)  CED name (2019)
0       Sunnybank          Moreton
1        Algester           Rankin
2        Stretton           Rankin
3        Algester           Rankin
4  Mount Coot-Tha             Ryan
5  Mount Coot-Tha         Brisbane
6   Indooroopilly             Ryan
7   Indooroopilly             Ryan
8         Moggill             Ryan
9         Moggill             Ryan

[10 rows x 41 columns]
Suburbs                           object
Collection_Date                   object
Alternative place name (2020)     object
Place type (2020)                 object
Place name longitude (GDA94)     float64
Place name latitude (GDA94)      float64
Suburb (2020)                     object
Postcode (2019)                    int64
LGA code (2020)                    int64
LGA name (2020)                   object
SA1 code (2016)                    int64
sa2_16_code                        int64
SA2 name (2016)                   object
SA3 code (2016)                    int64
SA3 name (2016)                   object
SA4 code (2016)                    int64
SA4 name (2016)                   object
GCCSA code (2016)                 object
GCCSA name (2016)                 object
ILOC code (2016)                   int64
ILOC name (2016)                  object
IARE code (2016)                   int64
IARE name (2016)                  object
IREG code (2016)                   int64
IREG name (2016)                  object
RA code (2016)                     int64
RA name (2016)                    object
UCL code (2016)                    int64
UCL name (2016)                   object
SA1 code (2011)                    int64
SA2 code (2011)                    int64
SA2 name (2011)                   object
SA3 code (2011)                    int64
SA3 name (2011)                   object
SA4 code (2011)                    int64
SA4 name (2011)                   object
GCCSA code (2011)                 object
GCCSA name (2011)                 object
SED name (2017)                   object
SED name (2008)                   object
CED name (2019)                   object
dtype: object
(204, 41)

Add the SEIFA deciles to the kerbside dates. Left join used as all suburbs in the kerbside list should be kept for completion.

In [17]:
kerbside_sa2 = kerbside_sa2.merge(seifa_16, on="sa2_16_code", how="left")

print(kerbside_sa2.head(10))
print(kerbside_sa2.dtypes)
print(kerbside_sa2.shape)

        Suburbs Collection_Date Alternative place name (2020)  \
0  Acacia Ridge       29-Aug-22                           NaN
1      Algester       11-Jul-22                           NaN
2     Calamvale       11-Jul-22                           NaN
3     Parkinson       11-Jul-22                           NaN
4  Auchenflower       18-Jul-22                           NaN
5        Milton       18-Jul-22                           NaN
6      St Lucia       18-Jul-22                           NaN
7       Taringa       18-Jul-22                           NaN
8       Anstead       25-Jul-22                           NaN
9    Bellbowrie       25-Jul-22                           NaN

  Place type (2020)  Place name longitude (GDA94)  \
0               SUB                    153.026108
1               SUB                    153.033610
2               SUB                    153.048060
3               SUB                    153.029170
4               SUB                    152.993890
5               SUB                    153.006670
6               SUB                    153.009445
7               SUB                    152.984440
8               SUB                    152.862228
9               SUB                    152.882463

   Place name latitude (GDA94) Suburb (2020)  Postcode (2019)  \
0                   -27.585835  Acacia Ridge             4110
1                   -27.612500      Algester             4115
2                   -27.623330     Calamvale             4116
3                   -27.643610     Parkinson             4115
4                   -27.473330  Auchenflower             4066
5                   -27.467780        Milton             4064
6                   -27.498333      St Lucia             4072
7                   -27.492780       Taringa             4068
8                   -27.541111       Anstead             4070
9                   -27.558959    Bellbowrie             4070

   LGA code (2020) LGA name (2020)  ...  Ranking within Australia Unnamed: 6  \
0            31000    Brisbane (C)  ...                       196          1
1            31000    Brisbane (C)  ...                      1148          6
2            31000    Brisbane (C)  ...                      1619          8
3            31000    Brisbane (C)  ...                      1680          8
4            31000    Brisbane (C)  ...                      2060         10
5            31000    Brisbane (C)  ...                      2102         10
6            31000    Brisbane (C)  ...                      1906          9
7            31000    Brisbane (C)  ...                      1926          9
8            31000    Brisbane (C)  ...                      2157         10
9            31000    Brisbane (C)  ...                      1961          9

  Unnamed: 7  state state_rank  state_decile state_percentile min_sa1_score  \
0          9    QLD         53             2               11         659.0
1         53    QLD        284             6               56         915.0
2         75    QLD        410             8               80        1008.0
3         77    QLD        426             9               83         941.0
4         95    QLD        496            10               97        1075.0
5         97    QLD        505            10               99        1069.0
6         88    QLD        472            10               92        1034.0
7         89    QLD        477            10               93        1029.0
8         99    QLD        512            10              100        1019.0
9         90    QLD        479            10               94        1030.0

  max_sa1_score  % Usual Resident Population without an SA1 level score
0         984.0                                           0.005125
1        1054.0                                           0.000000
2        1126.0                                           0.000894
3        1115.0                                           0.000000
4        1216.0                                           0.000000
5        1195.0                                           0.000000
6        1178.0                                           0.171147
7        1171.0                                           0.000000
8        1201.0                                           0.000000
9        1156.0                                           0.000396

[10 rows x 54 columns]
Suburbs                                                    object
Collection_Date                                            object
Alternative place name (2020)                              object
Place type (2020)                                          object
Place name longitude (GDA94)                              float64
Place name latitude (GDA94)                               float64
Suburb (2020)                                              object
Postcode (2019)                                             int64
LGA code (2020)                                             int64
LGA name (2020)                                            object
SA1 code (2016)                                             int64
sa2_16_code                                                object
SA2 name (2016)                                            object
SA3 code (2016)                                             int64
SA3 name (2016)                                            object
SA4 code (2016)                                             int64
SA4 name (2016)                                            object
GCCSA code (2016)                                          object
GCCSA name (2016)                                          object
ILOC code (2016)                                            int64
ILOC name (2016)                                           object
IARE code (2016)                                            int64
IARE name (2016)                                           object
IREG code (2016)                                            int64
IREG name (2016)                                           object
RA code (2016)                                              int64
RA name (2016)                                             object
UCL code (2016)                                             int64
UCL name (2016)                                            object
SA1 code (2011)                                             int64
SA2 code (2011)                                             int64
SA2 name (2011)                                            object
SA3 code (2011)                                             int64
SA3 name (2011)                                            object
SA4 code (2011)                                             int64
SA4 name (2011)                                            object
GCCSA code (2011)                                          object
GCCSA name (2011)                                          object
SED name (2017)                                            object
SED name (2008)                                            object
CED name (2019)                                            object
sa2_16_name                                                object
Usual Resident Population                                 float64
Unnamed: 3                                                 object
Ranking within Australia                                   object
Unnamed: 6                                                 object
Unnamed: 7                                                 object
state                                                      object
state_rank                                                 object
state_decile                                               object
state_percentile                                           object
min_sa1_score                                             float64
max_sa1_score                                             float64
% Usual Resident Population without an SA1 level score    float64
dtype: object
(204, 54)

Check for any duplicates introduced from the merge

In [18]:
possible_duplicates = kerbside_sa2.duplicated(
    ["sa2_16_code", "Suburbs", "state_rank"]
    , keep = False)
kerbside_sa2.loc[possible_duplicates, ["Suburbs", "Postcode (2019)", "state_rank", "sa2_16_code"]]
# All true duplicates so first or last pattern doesn't matter
kerbside_sa2.drop_duplicates(["sa2_16_code", "Suburbs", "state_rank"], keep="first", inplace=True)

Manually drop the duplicates that don't share the same SA2 name. Using a string distance measure on the suburb against the SA2 name might be a way to improve this.

In [19]:
kerbside_sa2["key"] = kerbside_sa2["Suburbs"] + "~" + kerbside_sa2["sa2_16_code"].astype("str")

kerbside_sa2.loc[kerbside_sa2["Suburbs"].duplicated(keep=False)
    , ["Suburbs", "Postcode (2019)", "state_rank", "sa2_16_name", "key"]]

,Suburbs,Postcode (2019),state_rank,sa2_16_name,key
12,Kholo,4306,461,Karana Downs,Kholo~310031290
13,Kholo,4306,NaN,NaN,Kholo~310021279
16,Moggill,4069,512,Pinjarra Hills - Pullenvale,Moggill~304021091
17,Moggill,4070,479,Bellbowrie - Moggill,Moggill~304021086
42,Oxley,4074,185,Darra - Sumner,Oxley~310011271
43,Oxley,4075,399,Oxley (Qld),Oxley~310011275
91,Nundah,4017,373,Sandgate - Shorncliffe,Nundah~302041044
92,Nundah,4012,379,Nundah,Nundah~302031040
94,Kedron,4032,406,Chermside West,Kedron~302021029
95,Kedron,4031,444,Kedron - Gordon Park,Kedron~302021031
136,Bulimba,4152,491,Camp Hill,Bulimba~303011047
137,Bulimba,4171,507,Bulimba,Bulimba~305021114
153,Tingalpa,4155,468,Belmont - Gumdale,Tingalpa~301011002
154,Tingalpa,4173,342,Tingalpa,Tingalpa~301031018
165,South Brisbane,4101,414,Highgate Hill,South Brisbane~305011107
166,South Brisbane,4101,454,South Brisbane,South Brisbane~305011110
171,Yeerongpilly,4113,293,Runcorn,Yeerongpilly~303061078
172,Yeerongpilly,4105,465,Yeronga,Yeerongpilly~303021059

In [20]:
keys_remove = pd.Series(["Kholo~310021279","Moggill~304021091", "Oxley~310011271", "Nundah~302041044" 
, "Kedron~302021029", "Bulimba~303011047", "Tingalpa~301011002", "South Brisbane~305011107"
, "Yeerongpilly~303061078"])
kerbside_sa2 = kerbside_sa2.loc[~(kerbside_sa2["key"].isin(keys_remove))]

### User requirements and export data

Beneficial to sort by date to know what suburbs are coming up

In [21]:
kerbside_sa2["Collection_Date"] = pd.to_datetime(kerbside_sa2["Collection_Date"])
clean_kerb = kerbside_sa2.sort_values("Collection_Date")

Export as csv for quick sharing. In addition to state SA2 SEIFA, have kept the minimum and maximum SA1 scores to reflect the variability in suburbs level of advantage or disadvantage.

In [22]:
clean_kerb = clean_kerb[["Suburbs", "Collection_Date", "state_rank", "state_decile", "state_percentile", "min_sa1_score", "max_sa1_score"]]
clean_kerb.to_csv(
    "../data/kerbside collection with state seifa decile and rank.csv"
    , index=False
)